.App {
    position: relative;
    height: 100vh;
    width: 100%;

    min-width: 400px;
    min-height: 300px;

    --padding: 20px;

    background-color: #74acff;
}

.App .home-link-wrapper {
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    width: 50px;
    position: absolute;
    margin: auto;
    padding-top: var(--padding)
}

.App .home-link {
    text-decoration: none;
    color: black;

    font-size: 1.2rem;
}

.box {
    background-color: rgb(32, 27, 27);
    border-radius: 10px;
    border-style: solid;
    border-color: rgb(204, 202, 202);
    color: white;
    padding: 0px 15px 15px 15px;
}

.hline {
    margin: 10px 0;
    
    border-top: 3px;
    border-left: 0;
    border-bottom: 0;
    border-right: 0;
    
    border-color: white;
    border-style: dashed;
    border-radius: 10px;
}

.App .text-center {
    text-align: center;
}

.checkbox-input {
    width: 15px;
    height: 15px;
}