.statistics .source-checkbox-wrapper {
    display: flex;
    justify-content: space-between;
}

.statistics .checkbox-line {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.statistics {
    max-width: 300px;
    min-width: 200px;
}